{% extends "user/user_base.html" %} {% block content %}

<h2>List Workers</h2>
<div id="list_workers_plot" style="width: 500px; height: 250px"></div>

<br />
<br />

<form action="{{DNS_name}}">
  <input type="submit" class="btn btn-primary" value="Enter the user-app" />
</form>

<br />
<br />

<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        Functions of manager application
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingOne"
    >
      <div class="accordion-body">
        <strong
          >you can access all the functions by clicking the navigation bar at
          the top of the page. <br
        /></strong>
        <strong>- Worker List:</strong> view the current worker list. <br />
        <strong>- Setting:</strong> modify auto scaling settings such as upper
        threshold, lower threshold, expanding ratio, and shrinking ratio. <br />
        <strong>- Stop:</strong> terminate all workers in the worker pool and
        stop the manager itself.
        <br />
        <strong>- Delete:</strong> delete all application data stored on the
        database as well as images stored on S3.
        <br />
        <strong>- Logout:</strong> you could logout the account and redirect to
        the entrance page by clicking Logout. <br />
        <strong>- Enter the user-app:</strong> enter the user-app. <br />
      </div>
    </div>
  </div>
</div>

<script>
  setTimeout(() => {
    location.reload()
  }, 60000);
  var options = {
    series: {
      lines: { show: true },
      points: { show: true }
    }
  };
  $.plot($("#list_workers_plot"), [ {{ list_workers_stat }} ] , options);
</script>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<ul class="flashes">
  {% for category, message in messages %} {% if category =='error'%}
  <li style="color: red">{{ message }}</li>
  {% else %}
  <li style="color: green">{{ message }}</li>
  {% endif %} {% endfor %}
</ul>
{% endif %} {% endwith %} {% endblock %}
