{% extends "user/user_base.html" %} {% block content %}

<table class="table table-border" style="width: 400px">
  <tr>
    <td>ID</td>
    <td>{{ instance.id }}</td>
  </tr>
  <tr>
    <td>Image AMI ID</td>
    <td>{{ instance.image_id }}</td>
  </tr>
  <tr>
    <td>Public IP Address</td>
    <td>{{ instance.public_ip_address }}</td>
  </tr>
  <tr>
    <td>State</td>
    <td>{{ instance.state['Name'] }}</td>
  </tr>
</table>

<br />
<br />

<div style="display: flex; justify-content: space-around">
  <div>
    <h2>CPU Utilization</h2>
    <div id="cpu_utilization_plot" style="width: 500px; height: 300px"></div>
  </div>
  <div>
    <h2>Network Requests</h2>
    <div id="network_packets_in_plot" style="width: 500px; height: 300px"></div>
  </div>
</div>

<div style="height: 200px"></div>
<script>
  setTimeout(() => {
    location.reload();
  }, 60000)
  var options = {
    series: {
      lines: { show: true },
      points: { show: true }
    }
  };
  $.plot($("#cpu_utilization_plot"), [ {{ cpu_utilization_stats }} ] , options);
  $.plot($("#network_packets_in_plot"), [ {{ network_packets_in_stats }} ] , options);
</script>
{% endblock %}
